@use 'themes/default' as default-theme;
@use 'themes/dark' as dark-theme;

@font-face {
    font-family: 'Fira Code';
    src: url("fonts/FiraCode-Regular.ttf") format("truetype")
}

* {
    font-family: 'Fira Code', monospace;
}

::-webkit-scrollbar {
    display: none;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.flexbox::after {
    display: inline-block;
    height: 100%;
    content: '';
}

body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin-top: 0;
    margin-left: 0;
    position: fixed;
    overflow-y: auto;
}

header {
    position: relative;
    align-items: center;
    
    padding: 0 1em 0 1em;

    display: flex;
    align-items: center;

    * {
        display: inline;
    }
    nav {
        display: inline-flex;
        margin: 0;
        padding: 0;
        align-items: center;
        ul {
            line-height: 0px;
            li {
                border-bottom: 0 solid;
                margin-right: 2em;
                :hover {
                    border-width: 1 0px;
                }
                
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    div.right-buttons {
        flex-grow: 1;
        button {
            text-align: right;
            right: 0;
            border: none;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            float: right;
            cursor:pointer;
        }
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 1em 1em 1em;
    align-self: flex-end;
}

.content {
    padding: 0em 1em 0 1em;
    flex: 1;
    width: 60%;
    overflow-y: scroll;
}

.refsheet {
    display: inline-flex;
    flex-direction: row;
}

.refsheet-images {
    padding: 0em 1em 0 1em;
    width: 40%;
    display: flex;
    flex: 1;
}

.fira-arrow-unordered-list {
    list-style: none;
    margin-left: 0;
    padding-left: 4ch;
    text-indent: -1em;
    li::before {
        content: "=> "
    }
    ul {
        list-style: none;
        ::before {
            content: "-> ";
        }
    }
}

.lily {
    position: fixed;
    right: 0em;
    bottom: 0em;
    padding: 0 1em 1em 1em;
    cursor:pointer;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@mixin default-theme {
    color: default-theme.$text;
    background-color: default-theme.$base;

    a {
        color: default-theme.$lavender;
    }
    header {
        background-color: default-theme.$surface0;
        
        nav > ul > li {
            a {
                color: default-theme.$text;
            }
            :hover {
                border-bottom: solid default-theme.$lavender;
            }
        }
    }
}

@mixin dark-theme {
    color: dark-theme.$text;
    background-color: dark-theme.$base;

    a {
        color: dark-theme.$lavender;
    }

    header {
        background-color: dark-theme.$mantle;
        nav > ul > li {
            a {
                color: dark-theme.$text;
            }
            :hover {
                border-bottom: solid dark-theme.$lavender;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    #root {
        @include dark-theme;
    }
}

@media (prefers-color-scheme: light) {
    #root {
        @include default-theme;
    }
}

#root.dark-theme {
    @include dark-theme;
}

#root.default-theme {
    @include default-theme;
}